@media(max-width:1280px) {

    .index_header {
        padding-inline: 50px;
    }

    .page_ul {
        column-gap: 40px;
    }

    .article_div {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;
        overflow-y: hidden;
    }

    .article {
        flex: 1 0 23%;
        min-width: 300px;
        height: 300px;
    }

    .product_div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .product {
        width: 250px;
    }

    .product:nth-last-child(-n+2) {
        display: none;
    }

    .product_img_div {
        height: 230px;
    }


    /* mans clothing page */
    .man_product_div {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;

    }

    .other_product {
        flex: 1 0 340px;
        max-width: 270px;
        height: 380px;
    }

    .other_product:nth-last-child(-n+2) {
        display: none;
    }




    /* jewelery */
    .jewelery_product_div {
        overflow-x: scroll;
        scroll-behavior: smooth;
        scrollbar-color: transparent transparent;
        padding: 40px 0 40px 40px;
    }



    /* cart */
    .cart_div {
        column-gap: 15px;
    }
    .product_info>h2 {
        font-size: 24px;
    }
    .product_info>p {
        font-size: 18px;
    }
    .remove_btn {
        font-size: 18px;
        padding: 10px 16px;
        letter-spacing: 2px;
    }
    .image_div{
        height: 100px;
    }
}