.cart_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    width: 80%;
    height: fit-content;
    padding-block: 30px;
    margin: auto;
}

.cart_div {
    position: relative;
    display: flex;
    column-gap: 25px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid #cccccc;
}

.image_div {
    width: 13%;
    height: 130px;
}

.image_div>img {
    width: 100%;
    height: 100%;

}

.product_info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    height: fit-content;
}

.product_info>h2 {
    font-size: 32px;
    font-weight: 600;
}

.product_info>p {
    font-size: 18px;
    font-weight: 600;
}

.remove_btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 600;
    padding: 12px 20px;
    color: #000000;
    font-size: 18px;
    letter-spacing: 4px;
    border-radius: 10px;
    border: 3px solid #4a0638;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;

}

.empty {
    font-size: 32px;
}

.remove_btn:hover {
    background-color: #4a0638;
    color: #FFFFFF;
}